*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: "Londrina Solid", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.75;
}

:root {
  --black: #000;
  --dark-bg: #0e141b;
  --red: #e60067;
  --dark-blue: #5773ff;
  --light-blue: #55abd6;
  --dull-blue: #66aacc;
  --grey: #ebebeb;
  --light-grey: #9ca8b4;
  --dark-grey: #1f2932;
  --card-bg: #151f28;
  --green: #55c57a;
  --white: #fff;
  --border-radius: 5px;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

button,
a,
select {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  padding: 0 1.2em;
  color: var(--white);
  margin: auto;
  overflow: auto;
}

.bg-dark {
  background-color: var(--dark-bg);
  min-height: 100vh;
}

.bg-light {
  background-color: var(--white);
  min-height: 100vh;
}

article.javascript {
  color: var(--dark-bg);
}
