.user-search-container {
  font-weight: 300;
  h3 {
    font-weight: 300;

    &.light {
      color: var(--black);
    }
  }
  .user-search-form {
    label {
      display: block;
      font-size: 1.5rem;
    }

    &.light {
      color: var(--black);
    }

    input[type="search"] {
      font-weight: inherit;
      font-family: inherit;
      font-size: 1.1rem;
      width: 20rem;
      padding: 3px;
    }

    button {
      background: var(--red);
      margin-left: 1rem;
      font-weight: inherit;
      font-size: 1.2rem;
      padding: 3px 8px;
    }
  }

  .user-detail-container {
    margin: 3rem 0 1rem;
    background-color: var(--dark-grey);
    padding: 2em;
    border-radius: var(--border-radius);

    &.light {
      background-color: var(--grey);
    }

    img {
      border-radius: 20px;
      width: 200px;
    }

    h4 {
      margin: 0;
      font-size: 3.5rem;

      &.light {
        color: var(--black);
      }
    }

    // Selecting the username
    .username {
      margin-top: -0.7rem;
      font-size: 1.3rem;
      color: var(--dull-blue);

      &.light {
        color: var(--dark-blue);
      }
    }
  }

  .user-bio {
    font-size: 1.2rem;
    p {
      margin-bottom: 3px;
    }

    .follow-stats {
      display: flex;
      flex-wrap: wrap;

      p:nth-of-type(2) {
        margin-left: 20px;
      }
    }

    &.light {
      color: var(--black);
      .bold {
        color: var(--dark-grey);
      }
    }

    .bold {
      font-weight: 400;
      margin-right: 5px;
      color: var(--light-grey);

      svg {
        margin: 0 3px 0 3px;
      }
    }
  }

  // Styling the filters
  .user-repo-detail {
    &.light {
      .user-repo-detail__heading,
      .user-repo-detail__sort-by,
      .user-repo-detail__filters {
        color: var(--black);
      }
    }

    h5 {
      font-size: 2.1rem;
    }

    &__sort-by {
      margin: -0.9rem 0 -0.01rem;
      font-size: 1.5rem;
      font-weight: 400;
    }

    &__filters {
      @include apply-flex(row, flex-start, center);
      flex-wrap: wrap;

      label {
        font-weight: 400;
        font-size: 1.3rem;
      }

      select {
        margin-left: 10px;
        font-size: 1.2rem;
        background: var(--light-grey);
        color: black;
        font-weight: inherit;
      }

      // Giving language label space
      div:nth-of-type(2) {
        margin-left: 1rem;
      }

      .clear-filter {
        background: var(--red);
        margin-left: 20px;
        font-size: 1.2rem;
        padding: 0.2em;
      }
    }

    .user-repo-detail-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 10px;
      margin: 2rem 0;

      // Styling the card
      article {
        padding: 0.8em;
        position: relative;
        border-radius: var(--border-radius);
        overflow-wrap: break-word;
        overflow: hidden;

        button {
          margin-top: 10px;
          font-size: 1.2rem;
          background-color: var(--red);
          padding: 0.2em 0.5em;
        }

        .forked {
          background: var(--dark-blue);
          padding: 0.3em 0.5em;
          border-radius: var(--border-radius);
        }

        .repo-stars-forks {
          position: absolute;
          top: 10px;
          right: 10px;
          @include apply-flex(row, flex-start, center);

          .no-stars,
          .no-forks {
            background-color: var(--green);
            padding: 0.1em 0.7em;
            border-radius: var(--border-radius);

            svg {
              margin-right: 5px;
            }
          }

          .no-forks {
            margin-left: 10px;
          }
        }
      }
    }

    .load-more {
      display: block;
      margin: auto;
      font-size: 1.5rem;
      padding: 0.3em 0.5em;
      background-color: var(--green);
    }

    @media only screen and (max-width: 31.875em) {
      // 510px
      .user-repo-detail-grid {
        grid-template-columns: 1fr;
      }
    }
  }

  @media only screen and (max-width: 26.25em) {
    // 420px
    .user-detail-container {
      padding: 10px;
    }
  }

  @media only screen and (max-width: 40.625em) {
    // 650px
    .user-repo-detail__filters {
      flex-direction: column;
      align-items: start;

      div:nth-of-type(2),
      .clear-filter {
        margin-left: 0;
      }
    }

    .user-search-form {
      input[type="search"] {
        width: 15rem;
      }
      button {
        margin-left: 0;
      }
    }
  }

  @media only screen and (max-width: 21.875em) {
    // 350px
    .user-detail-container .user-bio .follow-stats {
      flex-direction: column;

      p:nth-of-type(2) {
        margin-left: 0;
      }
    }
    .user-search-form {
      input[type="search"] {
        width: 10rem;
      }
    }
  }
}
